.task {
  position: relative;
  padding-left: 15px;
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.task h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: normal;
  text-transform: uppercase;
}

.delete-icon {
  position: absolute;
  top: 20px;
  right: 10px;
  cursor: pointer;
}

.edit-icon {
  position: absolute;
  top: 20px;
  right: 50px;
  cursor: pointer;
}
